<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movimentações</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

    <h1>Movimentações</h1>

    <a href="/movimentacoes/novo" class="btn btn-primary mb-3">Nova Movimentação</a>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Data</th>
                <th>Produto</th>
                <th>Tipo</th>
                <th>Qauntidade</th>
                <th>Preço Custo</th>
                <th>Preço Venda</th>
                <th>Usuário</th>
                <th>Observação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${movimentacoes}">
                <td th:text="${#temporals.format(m.dataMovimentacao, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${m.produto.marca}"></td>

                <td>
                    <span th:if="${m.acao.name() == 'entrada'}" class="badge bg-danger">Entrada</span>
                    <span th:if="${m.acao.name() == 'saida'}" class="badge bg-success">Saída</span>
                </td>

                <td th:text="${m.quantidade}"></td>

                <td th:text="'R$ ' + ${#numbers.formatDecimal(m.precoCusto, 1, 2)}"></td>
                <td th:text="'R$ ' + ${#numbers.formatDecimal(m.precoVenda, 1, 2)}"></td>

                <td th:text="${m.usuario?.nome} ?: '-'"></td>
                <td th:text="${m.observacao} ?: '-'"></td>
                <td>
                    <a th:href="@{/movimentacoes/editar/{id}(id=${m.id})}" class="btn btn-sm btn-warning">Editar</a>

                    <a th:href="@{/movimentacoes/deletar/{id}(id=${m.id})}" class="btn btn-sm btn-danger"
                       onclick="return confirm('Excluir movimentação?')">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>